#image1 {
    height: 500px;
    width: 1150px;
}
#Avengers{
text-align:center;
}
img{
    height:200px;
    width:200px;
}
#gridgallery{
    text-align:center;
}
#slidinggallery{
    text-align:center;
}